*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.botonAgregarCarrito {
  background-color: #4CAF50;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}